/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*START OF BODY*/

body {
    font-family: 'Kaushan Script', cursive;
    background-image: linear-gradient(270DEG, #d7d2cc 0%, #304352 50%, #d7d2cc 100%);
}

/*END OF BODY*/
    /*-----*/
    /*-----*/
/*START OF BACKGROUND*/

.veille {
    background-color: black;
    transition: 2s;
}


.fond {
    height: 100vh;
    margin: 0 auto;
    align-self: center;
    position: relative;
    z-index: -1;
}

/*END OF BACKGROUND
    -----
    -----
START OF HEADER*/

header {
    display: flex;
}

/*START OF ASIDE*/

.navTitre{
    position: absolute;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


aside {
    width: 100vw;
    height: 20vh;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*color: #e4572e;*/
    color: #92140c;
    z-index: 5;
}

aside nav ul{
    display: flex;
    justify-content: space-between;
}

aside nav ul li{
    margin: 0 30px;
    font-weight: bold;
    font-size: 1.5em;
}

/*START OF NAVBAR*/

ul {
    list-style-type: none;
}

.aNav {
    color: black;
    text-decoration: none;
}


/*END OF NAVBAR*/

/*END OF ASIDE*/

/*START OF H1 + p */

h1 {
    color: #92140c;
    margin: 15%;
    font-size: 10em;
    font-family: 'UnifrakturCook', cursive;
    opacity: .5;
    position: fixed;
    z-index: 0;
}

.ssTitre{
    color: #92140c;
    margin: 70% auto;
    width: 30%;
    text-align: center;
    font-weight: bold;
    opacity: 0;
}

/*END OF H1 + p*/

/*END OF HEADER
    -----
    -----
START OF SECTION*/

section{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

/*START OF H2*/

h2{
    width: 100%;
    text-align: center;
    background-color: #92140c;
    border-radius: 10px;
}

/*END OF H2*/

/*START OF ARTICLE*/

.arti {
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    margin-bottom: 20px;
    z-index: 2;
    border-radius: 10px;
}

.arti a {
    width: 100%;
    color: #92140c;
    text-decoration: none;
}

h3{
    margin: auto;
    width: 50%;
}

.fig {
    height: 100%;
    filter: invert(1);
    -webkit-filter: invert(1);
    -moz-filter: invert(1);
    -o-filter: invert(1);
    -ms-filter: invert(1);
}

.fig img{
    height: 100%;
}

/*END OF ARTICLE*/

/*END OF SECTION
    -----
    -----
START OF SECTION GALERIE*/

.galerie {
    display: flex;
    flex-direction: column;
}

.galerie article {
    height: 450px;
    width: 99vw;
}

.galery {
    height: 75%;
    width: 99vw;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    filter: invert(1);
}

.galery figure {
    height: 80%;
    width: 70%;
}

.galery figure img {
    height: 100%;
}



/*END OF SECTION GALERIE
    -----
    -----
START OF SECTION BLOG*/

.blogArt {
    height: 60vh;
    width: 75vw;
    background-color: grey;
    border: 2px solid #92140c;
    border-radius: 20px;
    z-index: 4;
    margin: 10px 0;
    text-align: center;
    overflow: scroll;
}

.blogArt figure {
    height: 80%;
    float: left;
}

.blogArt figure img {
    height: 100%;
    border: 2px solid #92140c;
    border-radius: 20px;
}

.blogArt h3 {
    margin: 3% 25%;

}

/*END OF SECTION BLOG
    -----
    -----
START OFSECTION CONTACT*/

.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid #92140c;
    width: 50%;
    z-index: 6;
}

.contact figure iframe, .input {
    border-radius: 10%;
}

form {
    display: flex;
    align-items: center;
}

.input {
    margin: 5%;
    background-color: #d7d2cc;
}


/*END OF SECTION CONTACT
    -----
    -----
START OF FOOTER*/

footer, footer ul {
    display: flex;
    justify-content: space-around;
}

/*START OF NAV*/

footer ul {
    flex-direction: row;
    width: 40%;
}

/*END OF NAV*/

/*END OF FOOTER
    -----
    -----
START OF FX*/

/*--> VEILLE*/

.veille:hover {
    background-color: transparent;
    transition: 3s;
}

/*--> NAV*/

nav:hover, footer:hover {
    background-color: #d7d2cc;
}

.aNav:hover{
    color: #92140c;
}

/*--> TITRE + p*/

h1:hover {
    opacity: 1;
}

h1:hover+.ssTitre{
    opacity: 1;
    transition: 3s;
}

/*--> SECTION ARTICLE*/

.arti:hover {
    background-color: black;
}

.arti:hover .fig {
    transition: 1.5s;
    filter: invert(0);
    -webkit-filter: invert(0);
    -moz-filter: invert(0);
    -o-filter: invert(0);
    -ms-filter: invert(0);
}

/*--> GALERIE*/

.galery:hover {
    background-color: #92140c;
    color: black;
    filter: invert(0);
    transition: .5s;
}

.blogArt:hover>h3 {
    background-color: #92140c;
}



















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
